nav {
    background-image: url('../static/img/bg.jpg'); /* Путь к вашему фону */
    background-size: cover;  /* Обеспечивает полное покрытие */
    background-position: center; /* Центрирует изображение */
    height: 100%; /* Высота заголовка, измените по своему усмотрению */

}

footer {
    background-image: url('../static/img/bg.jpg'); /* Путь к вашему фону */
    background-size: cover;  /* Обеспечивает полное покрытие */
    background-position: center; /* Центрирует изображение */
    height: 100%; /* Высота футера, измените по своему усмотрению */
}

.custom-dark-shadow {
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.45); /* Темная тень */
}

.card-wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: center; /* Центрирование карточек */

.card img {
    object-fit: cover;
    width: 199px;
    height: 199px;
}

.card-img-top {
    object-fit: cover;
}

.card {
    transition: box-shadow 0.3s ease;
    width: 200px; /* Фиксированная ширина карточки */
    margin-right: 20px; /* Расстояние между карточками */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card:hover {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
}

/* Стили для адаптивности */
@media (max-width: 768px) {
    .navbar .navbar-brand {
        font-size: 1.5rem;
    }

    .card-body h5 {
        font-size: 1.25rem;
    }

    .card-body p {
        font-size: 0.9rem;
    }
}

/* Кнопка добавления объявления */
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    transition: background-color 0.3s ease;
    margin: 3px
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

/* Центрирование текста на маленьких экранах */
@media (max-width: 576px) {
    .card-body h5, .card-body p, .card-footer {
        text-align: center;
    }
}
