{% extends 'base.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    {% if current_user.is_authenticated %}
        <div class="container-fluid text-center">
            <a href="{{ url_for('create_listing') }}" class="btn btn-primary">Добавить объявление</a>
        </div>
    {% else %}
        <div class="container-fluid text-center">
            <a href="{{ url_for('login') }}" class="btn btn-primary">Войдите, чтобы добавить объявление</a>
        </div>
    {% endif %}
    <h1 class="display-6 text-center">Все объявления</h1>
    <div class="card-wrapper">
        {% for listing in listings %}
                <div class="card mb-4">
                    {% if listing.image_filename %}
                        <img src="{{ url_for('static', filename='img/advertisements/' + listing.image_filename) }}" class="img-fluid rounded-top" alt="Изображение объявления">
                    {% else %}
                        <img src="https://via.placeholder.com/400x200" class="img-fluid rounded-top" alt="Нет изображения">
                    {% endif %}
                    <div class="card-body">
                        <div class="text-center m-0">
                        <small>{{ listing.title }}</small><br>
                            <small class="text-muted">{{ listing.price }} руб.</small>
                        </div>
                    </div>
                    <div class="card-footer text-muted">
                        <div class="text-center m-0">
                        <small>Опубликовано: <br> {{ listing.formatted_time }}</small><br>
                            <a href="#" class="btn btn-primary">Подробнее</a>
                        </div>
                    </div>
                </div>
        {% endfor %}
    </div>
{% endblock %}
