{% extends 'base.html' %}

{% block content %}
    <h1 class="display-6 text-center">Ваши объявления</h1>
    <div class="card-wrapper">
        {% for listing in listings %}
                <div class="card mb-4">
                    {% if listing.image_filename %}
                        <img src="{{ url_for('static', filename='img/advertisements/' + listing.image_filename) }}" class="img-fluid rounded-top" alt="Изображение объявления">
                    {% else %}
                        <img src="https://via.placeholder.com/400x200" class="img-fluid rounded-top" alt="Нет изображения">
                    {% endif %}
                    <div class="card-body">
                        <div class="text-center m-0">
                        <small>{{ listing.title }}</small><br>
                            <small class="text-muted">{{ listing.price }} руб.</small>
                        </div>
                    </div>
                    <div class="card-footer text-muted">
                        <div class="text-center m-0">
                        <small>Опубликовано: <br> {{ listing.formatted_time }}</small><br>
                            <a href="{{ url_for('edit_listing', id=listing.id) }}" class="btn btn-primary">Редактировать</a>
                            <form action="{{ url_for('delete_listing', id=listing.id) }}" method="POST" style="display: inline-block;">
                            <button type="submit" class="btn btn-danger">Удалить</button>
                        </form>
                        </div>
                    </div>
                </div>
        {% endfor %}
    </div>
{% endblock %}



